JIC.Fault.WindowsService.Court/Connected Services/ProsecutionService/ProsecutionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JIC.Base.Views.ProsecutionService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JIC.Base.Views.ProsecutionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfparty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="party" nillable="true" type="tns:party" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfparty" nillable="true" type="tns:ArrayOfparty" />
  <xs:complexType name="party">
    <xs:sequence>
      <xs:element minOccurs="0" name="courtType" type="xs:int" />
      <xs:element minOccurs="0" name="partyId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="party" nillable="true" type="tns:party" />
  <xs:complexType name="parParties">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessCaseDetailsId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="businessCaseId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdByBusinessCaseId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="duty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="educationalEntityAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="educationalEntityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="educationalEntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="educationalLevelId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="entityRepresentative" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extraInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flex1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flex2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flex3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flex4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fourthname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="govermentDegreeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="govermentEmployer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="govermentEmployerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="govermentJoiningDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="guardianName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="guardianNationalityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="issueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="jobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="militaryCurrentUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="militaryRankId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="militaryRecruitmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="militaryServiceCorpsId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="moiPrisonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="moiPrisonNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nearlyGuardianId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="partyStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="partyType" type="xs:int" />
      <xs:element minOccurs="0" name="partyTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="placeOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="placeOfIssue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updatedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parParties" nillable="true" type="tns:parParties" />
</xs:schema>